:root {
  --roboto-slab: 'Roboto Slab', serif;
  --roboto: 'Roboto Serif', serif;
}

body,
html {
   margin: 0;
   padding: 0;
 }

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 25px;

}

#disneyCharactersContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  width: 60vw;
}

.characterName{
  color: darkblue;
  font-weight: bolder;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.characterCard{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: lightcyan;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10%;
  box-shadow: 10px 10px 10px rgba(14, 0, 0, 0.171);
  width: 360px;
}

.characterImage{
  height: 250px;
  width: 300px;
}

main{
  display: flex;
  justify-content: space-between;
  position: relative;
}

#favoriteCharactersContainer{
  width: 40vw;
}