:root {
  --roboto-slab: 'Roboto Slab', serif;
  --roboto: 'Roboto Serif', serif;
}

body,
html {
   margin: 0;
   padding: 0;
 }

.titleCards{
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
  font-weight: bolder;
  font-size: large;
}